body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

.container .row .w{
  width: 100%;
  height: 300px;
  border: 2px solid #000;
  background: url(/myProject/images/logos/b.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.profile_name{
  position: absolute;
  left: 37%;
  bottom: 10px;
}
.profile_name h3{
  font-size: 220%;
  font-family: arial;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff
}
.profile_name h6{
  font-family: monospace;
  font-weight: 600;
  font-size: 120%;
  color: #fff
}
.profile_name2{
  padding-right: 40%;
  font-size: 160%;
  font-family: arial;
  font-weight: 600;
  text-transform: capitalize;
  color: #00004d;
  display: none;
}
.profile_name_3{
  padding-right: 10px;
  font-family: monospace;
  font-weight: 600;
  font-size: 100%;
  color: #00004d;
  margin-bottom: 30px;
  display: none;
}
.pro_box{
  height: 80px;
  width: 140px;
  background: #fff;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid #333333;
  color: #00004d;
}
.pro_box span{
  font-size: 22px;
}
.pro_box h4{
  font-size: 17px;
  margin-top: 1px
}
button.pro_box{
  border: 1px solid #333333;
  font-size: 15px;
  font-weight: 600;
}
button.pro_box:hover{
  background: #00004d;
  color: #fff
}
.friend_profile_img{
  position: relative;
  width: 210px;
  height: 210px;
  background: ;
  border: 3px solid #00004d;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -110px;
  margin-bottom: 0px;
  z-index: 2
}
.friend_profile_img img{
  width: 100%;
  height: 100%;
  z-index: 3
}
@media only screen and (max-width: 991px) {
  .friend_profile_img{
    width: 170px;
    height: 170px;
  }
}
@media only screen and (max-width: 767px) {
  .profile_name{
    display: none
  }
  .profile_name2{
    display: block;
  }
  .profile_name_3{
    display: block;
  }
  .pro_box{
    width: 100%;
    border-radius: 50px;
  }
}

.personal_info h3{
  margin-top: 60px
}

/*
*
* FRIENDS
*
*/
.friend_friends{
  padding-top: 20px;
  padding-bottom: 180px
}
.text-title {
  font-weight: 600;
  border-bottom: 1px solid #fff;
  padding: 0px 0px 5px 0px;
  font-size: 15px;
	color: #00004d
}
.row .friend_col{
	padding: 1px;
}
.fri{
	background: #fff;
	height: 110px;
	padding: 6px
}
.friend {
  width: 100%;
	height: 80px;
  float: left;
  text-align: center;
  padding: 3px 0px 10px 0px;
  color: #22262e;
  font-weight: 600;
  display: block;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.friend img {
  width: 100%;
	height: 100%;
  border: 1px solid #006666;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
}
.friend span {
  display: block;
  line-height: 15px;
  margin-top: 7px;
  font-size: 11px;
	color: #00004d
}
.friend:hover {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity = 100);
  color: #1b1e24;
}
/*
*
* END OF FRIENDS
*
*/
