*{
  margin: 0px;
  padding: 0px;
}
.top-header {
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  background: rgba(93,84,240,8.5);
}
.top-header .nav-pills li a{
  font-size: 130%;
  color: #fff;
}
.top-header .nav-pills li a:hover{
  background: none;
  color: rgba(185,0,255,0.9);
}
.top-header .nav-pills li a span{
  font-size: 125%;
  font-weight: 500;
}
/* MIDDLE HEADER*/
.header-middle .cover_wall{
    display: grid;
    grid-gap: 40px;
    grid-template-areas:
        'showcase showcase '
        'showcase showcase ';
    margin-bottom: 12px
}
.header-middle .showcase{
    grid-area: showcase;
    height: auto;
    background: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-middle .cover_wall .showcase .front_img{
  position: relative;
}
.header-middle .cover_wall .showcase .front_img img{
  width: 300px;
  height: 190px
}
.header-middle .cover_wall .showcase .front_img h4{
  position: absolute;
  bottom: 0;
  left: 1%;
  font-size: 17px;
  font-style: oblique;
  text-align: center;
  color: #595959;
  font-size: 16px;
}
.header-middle .cover_wall .showcase .logo .logo-name{
  margin: auto;
  font-size: 17px;
}
.header-middle .cover_wall .showcase .logo a:hover{
  text-decoration: none;
}
.header-middle .cover_wall .showcase .logo .logo-name span.a{
  font-size: 140%;
  font-weight: 600;
  font-family: arial;
  color: rgba(93,84,240,8.5);
}
.header-middle .cover_wall .showcase .logo .logo-name span.b{
  font-size: 145%;
  font-weight: 700;
  font-family: arial;
  font-style: italic;
  color: rgba(185,0,255,0.9); /*red*/
}
.header-middle .cover_wall .showcase .logo .logo-quote{
  text-align: center;
  font-size: 12px;
  font-family: SourceSansPro-Bold;
  color: #595959;
}
@media only screen and (max-width: 990px) {
  .header-middle .cover_wall .showcase .container .header-hide{
    display: none;
  }
  .top-header .logo{
    display: none;
  }
}
/*BOTTOM HEADER*/
.header-bottom ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}
.header-bottom ul.topnav li {float: left; margin:10px 0px}
.header-bottom ul.topnav li a {
    display: inline-block;
    color: rgba(185,0,255,0.9);
    text-align: center;
    padding: 8px 23px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
}
.header-bottom ul.topnav li a:first-child{
  padding-left: 0
}
ul.topnav li a:hover {background-color: #fff;}
ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
.info-number .badge {
  font-size: 12px;
  font-weight: 600;
  font-family: arial;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 10px;
  top: 1px;
  background: #ff0000;
  color: #ffffff;
}
.info-number:hover{
  background: none !important;
}


/*
*
* NEW SECTIONS
*
*/
.news_section{
  margin-top: 10px;
  border: 1px solid #fff;
  padding: px;
  height: 100%;
  background: #fff;
  box-shadow: 5px 4px 8px 5px #f2f2f2, 5px 6px 20px 5px #f2f2f2;
}
.news_section h3{
  font-size: 22px;
  font-weight: 500;
  color: rgba(93,84,240,8.5);
  font-family: arial;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
.small_news{
  width: 100%;
  height: 388px;
  background: #fff;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #f2f2f2;
  background: #fff;
  overflow: hidden;
}
.small_news .news_img_box{
  width: 100%;
  height: 260px;
}
.small_news .news_img_box img{
  width: 100%;
  height: 100%;
}
.small_news .news_desc_box a:hover{
  text-decoration: none;
}
.small_news .news_desc_box a h5{
  font-size: 17px;
  font-weight: 600;
  font-family: arial;
  text-align: center;
  color: #595959;
}
.small_news .news_desc_box a h5:hover{
  text-decoration: underline;
}
.small_news .news_desc_box p{
  font-family: arial;
  color: #595959;
  text-align: justify;
}
.small_news .news_desc_box .news_likes_box{
  padding-top: 3px;
}
.small_news .news_desc_box .news_likes_box span{
  color: #595959;
  font-size: 16px;
  margin-right: 2%;
}
.small_news .news_desc_box .news_likes_box span.date{
  color: #c1c1c1;
  font-size: 13px;
  margin-right: 2%;
}
.small_news .newss span i{
  color: #00004d;
}
.small_news .newss .panel-heading{
  background: none !important;
  font-size: 11px !important;
  border: none !important;
  color: rgba(93,84,240,8.5) !important;
  margin-bottom: 10px !important;
}
.small_news .newss .panel{
  margin: 5px !important
}
.small_news .newss .panel .news_desc{
  font-size: 14px !important;
  color: #000 !important;
  text-align: justify !important;
  line-height:
}
@media only screen and (max-width: 480px) {
  /* .localNews img{
    height: 155px;
  }
  .localNews .col-xs-6{
    width: 100%;
    padding: 1px;
    margin-bottom: 7px
  }
  .localNews{
    padding: 9px 1px 9px 1px;
  } */
}
@media only screen and (max-width: 300px) {

}





/*
*
* FAVOURITE QUOTE
*
*/
.co-blog-sidebar{
  margin-top: 10px !important;
  background: rgba(93,84,240,8.5) !important;
  padding-bottom: 20px !important;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 4px 8px 5px #f2f2f2, 5px 6px 20px 5px #f2f2f2;
}
.co-blog-sidebar h5{
  width: 100%;
  padding: 5px 5px !important;
  margin: 0px;
  background: rgba(93,84,240,8.5) !important;
  color: #fff !important;
  font-size: 210% !important;
  font-weight: 600;
  font-family: Gabriola !important;
}
.co-blog-sidebar .co-sidebar-post{
  padding: 4px 6px !important;
  margin: 1px 0px !important;
  background: #fff;
  border-top: 1px solid #e1e1e1 !important
}
.co-blog-sidebar .co-sidebar-post .img_container{
  border-radius: 50px !important;
  border: 1px solid rgba(93,84,240,8.5);
  width: 40px !important;
  height: 40px !important;
  background: #fff !important;
  overflow: hidden !important;
}
.co-blog-sidebar .co-sidebar-post .img_container img{
  border-radius: 50px !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.co-blog-sidebar .co-sidebar-post .content{
  font-size: 13px !important;
  text-align: left;
  color: #595959;
  line-height: 1.4em !important;
  padding-left: 8px;
  display: flex;
}
.co-blog-sidebar .co-sidebar-post .quote_username{
  margin: 6px;
  margin-left: 50px;
  font-family: arial;
  font-weight: 600;
  color: #595959;
}
.co-blog-sidebar .co-sidebar-post span.date{
  font-size: 10px;
  color: rgba(93,84,240,8.5);
  display: flex;
}
