
/*
*
* SLIDE SHOW
*
*/
#slider {
  padding-bottom: 7px;
  padding-top: 0;
  margin-bottom: 60px;
  background: #fff;
}
.carousel-indicators li {
  background: #C4C4BE;
}
.carousel-indicators li.active {
	 background: #00004d;
}
.item {
  padding: 0;
  width: 100%;
  height: 400px;
}
.carousel-inner{
  height: 400px;
  width: 100%;
}
.control-carousel {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #fff;
}
.control-carousel:hover{
  color: #006666;
}
.right {
  right: 0;
}
.item_box{
  position: relative;
}
.item_box h3{
  position: absolute;
  top: 180px;
  font-size: 160%;
  font-weight: 600;
  color: #006666;
  text-transform: capitalize;
}
.item_box h3 span{
  text-transform: uppercase;
  color: #595959;
}
.item_box a{
  position: absolute;
  top: 258px;
  left: 3%;
  font-size: 100%;
  font-weight: 600;
  text-transform: capitalize;
  background: #00004d
}


/*
*
*  CATEGORY
*
*/
.sec {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 1px;
}
.sec h3{
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  font-family: cursive;
  color: #595959;
  text-transform: capitalize;
}
.sec .A{
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  margin: 5px 0px;
  background: #f2f2f2;
}
.sec .B{
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  margin: 5px 0px;
  background: #f2f2f2;
}
.sec .C{
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  margin: 5px 0px;
  background: #f2f2f2;
}
.sec h4{
  font-size: 14px;
  font-weight: 600;
  color: #595959;
}
.A i, .B i, .C i{
  font-size: 29px;
  color: #d1d1d1
}



/*
*
* advertisement
*
*/
.ads{
  padding: 1px 18px;
}
.ads h3{
  background: #;
  color: #565656;
  padding: 1px 1px 1px 1px;
  text-transform: capitalize;
  border-bottom: 1px solid #e1e1e1
}
.ads i{
  color: #595959;
}
.ads span{
  color: #595959;
  padding: 1px 0px;
  font-size: 24px;
}
.item_search input{
  border-radius: 5px
}
.panel .profile {
  background: #fff;
  padding: 3px;
  border: 1px solid rgba(93,84,240,8.5);
  box-shadow: 5px 4px 8px 5px #f2f2f2, 5px 6px 20px 5px #f2f2f2;
}
.profile-data-name{
  font-size: 14px;
  font-family: arial;
  text-transform: capitalize;
  color: rgba(93,84,240,8.5);
}
.profile-controls{
  font-size: 11px;
  font-family: arial;
  padding-left: 5px;
  color: #595959;
}
.profile-controls p{
  line-height: 1.4em;
  margin: 1px;
  text-align: center;
}
