@viewport{
  zoom: 1.0;
  width : extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}
.container-fluid .col-sm-3{
	background:#fff;
	padding-right: 0;
}
.container-fluid .col-sm-9{
	background:#fff;
}
.container-fluid .profile_side{
	background: #fff;
}
.sidemenubar{
	width: auto;
	height: auto;
	padding: 20px 0px;
  margin: 0px 8px;
	background: #fff;
}
.sidemenubar li a{
	padding: 13px 20px 13px 30px;
	font-family: arial;
	font-weight: 600;
	font-size: 100%;
  text-transform: uppercase;
	background: rgba(93,84,240,8.5);
	color: #fff;
	border: 1px solid #00004d
}
.sidemenubar li a:hover, .sidemenubar li a:focus{
	background: #00004d;
	color: #fff
}
@media only screen and (max-width: 768px) {
  .friends_photos{
    display: none
  }
  .sidemenubar{
    border-bottom: 1px solid #00004d
  }
}
.picture{
	width: auto;
	height: auto;
	padding: 8px 0%;
	background: #fff;
	border: 3px solid rgba(93,84,240,8.5);
  position: relative;
  margin: 0px 8px;
}
.picture .pic{
	margin: auto;
	background: none;
	margin-top: 10px;
	margin-bottom: 10px;
	width:140px;
	height:140px;
	overflow: hidden;
  position: relative;
}
.img_container{
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.picture img{
	background: none;
	border: 4px solid #d1d1d1;
  border-radius:100%;
	overflow: hidden;
  position: relative;
}
.picture .upload_pic{
  border: none;
  background: rgba(93,84,240,8.5);
  color: #fff;
  padding: 10px 12px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  right: 2px
}
.picture h2{
	clear: both;
	margin-top: 4px;
	text-align: center;
  text-transform: capitalize;
	font-size: 24px;
  font-family: Gabriola;
	color: #262626
}
.picture p{
	color: #666666;
	font-size: 10px;
  text-align: left;
  padding: 1px 10px;
  line-height: 1.5em
}
.picture p .says{
  font-size: 15px;
	font-weight: 700;
	color: rgba(93,84,240,8.5);
}
.picture p .quote{
  font-size: 15px;
  text-transform: inherit;
  font-family: arial;
}
.picture p .time{
  font-size: 11px;
  text-transform: capitalize;
}
.picture form button{
  background: #fff;
  color: #006666;
  font-size: 16px;
  font-weight: 600;
}




.right-big-side{
	width: 72%;
	float: left;
	height: auto;
	background: #fff;
  position: relative;
  overflow: hidden;
}
.right-small-side{
	float:left;
	width:28%;
	height: 1000px;
	background: #fff;
  position: relative;
}



/*
*
*  QUOTES/STATUS
*Gabriola
*/
.quote_box{
  margin-bottom: 120px;
}
.quote_box .modal-header{
  background: rgba(93,84,240,8.5);
}
.quote_box .modal-header h4{
  background: rgba(93,84,240,8.5);
  color: #fff;
  font-family: arial;
}
.quote_box .modal-body span{
  font-size: 18px;
  font-family: Gabriola;
}
.quote_box .quote_footer_btn button.btn-success{
  border-radius: 50px;
  margin-right: 5%;
  background: rgba(93,84,240,8.5);
  border: none
}
.quote_box .quote_footer_btn button.btn-success:hover{
  background: #3333ff
}
.quote_box .quote_footer_btn button.btn-danger{
  border-radius: 50px;
  margin-right: 2%;
  background: #f2f2f2;
  border: none;
  font-weight: 600;
  color: #262626;
}
.quote_box .quote_footer_btn button.btn-danger:hover{
  background: #d1d1d1;
}




/*
*
* FRIENDS
*
*/
.friends_photos{
	background: #fff;
  width: auto;
	height: auto;
	padding: 8px 1%;
	border: 3px solid rgba(93,84,240,8.5);
  margin: 0px 8px;
}
.text-title {
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
  padding: 0px 0px 8px 10px;
  font-size: 15px;
	color: rgba(93,84,240,8.5);
}
.friend_col{
	padding: 1px;
  background: #fff;
}
.fri{
	height: 90px;
	padding: 0px;
	position: relative;
	overflow: hidden;
}
.friend {
  width: 95%;
	height: 95%;
  text-align: center;
  padding: 1px 0px;
  font-weight: 600;
  display: block;
  filter: alpha(opacity = 80);
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.friend span {
  display: block;
  line-height: 15px;
  margin-left:3%;
  margin-top: 7px;
  font-size: 12px;
	color: #00004d;
  position: absolute;
  bottom: 2px;
}
.friend img {
  width: 100%;
	height: 100%;
  border: 1px solid #e1e1e1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.friend:hover {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity = 100);
  color: #1b1e24;
}
/*
*
* END OF FRIENDS
*
*/







/*
*
*	STATUS SECTION
*
*/
/*POST POST POST POST Post POST*/
.comments-list{
  height: auto;
  font-size: 13px;
  margin: 10px 7px;
  background: #fff;
  border: 2px solid rgba(93,84,240,8.5);
}
ul.comments-holder-ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
}
ul.comments-holder-ul li.comment-holder{
  list-style-type: none;
  height: auto;
  width: auto;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
  position: relative;
  background: #fff;
}
ul.comments-holder-ul li.comment-holder:hover{

}
ul.comments-holder-ul li.comment-holder .date{
  padding: 1px 12px;
  color: rgba(93,84,240,8.5);
}
ul.comments-holder-ul li.comment-holder .date .fa-globe{
  font-size: 17px;
}
ul.comments-holder-ul li.comment-holder .date .everyone{
  font-size: 13px;
  color: #d1d1d1 !important;
}
ul.comments-holder-ul li.comment-holder .container-area{
  padding: 1px 12px;
}
ul.comments-holder-ul li.comment-holder .user-img{
  float: left;
	position: relative;
  height: 78px;
  width: 78px;
  margin: 2px 10px 9px 1px;
	border-radius: 50px;
	overflow: hidden;
	border: 2px solid #8080ff;
}
ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic{
  width: 100%;
  height: 100%;
  background: #e1e1e1;
}
.comment-body{
  width: auto;
  position: relative;
}
ul.comments-holder-ul li.comment-holder h3.username-field{
  padding: 10px 1px;
  font-size: 140%;
  margin: 0px 0px 10px 10px;
  color: #cccccc;
  text-transform: lowercase;
}
ul.comments-holder-ul li.comment-holder .container-area h3.username-field a{
  color: #8080ff;
  text-transform: capitalize;
}
ul.comments-holder-ul li.comment-holder .container-area h3.username-field:hover{
  color: #fff/*#104a93*/;
}
ul.comments-holder-ul li.comment-holder .container-area .comment-text{
  display: inline;
  overflow: hidden;
  font-size: 110%;
  text-align: justify;
  color: #595959;
  position: relative;
  font-family: arial;
}
ul.comments-holder-ul li.comment-holder .comment-text p{
  padding: 1px 10px;
  font-family: arial;
  color: #595959;
}
ul.comments-holder-ul li.comment-holder:hover .comment-button-holder{
  display: block;
}
.comment-button-holder{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 20px;
}
.comment-button-holder ul{
  list-style-type: none;
  width: auto;
  height: auto;
  overflow: hidden;
}
.comment-button-holder ul li{
  float: right;
  height: 20px;
  width: 20px;
  background: #0000ff;
  text-align: center;
  line-height: 17px;
  color: #fff;
  background: #2e5cb8;
  font-size: 120%;
  cursor: pointer;
}
.comment-button-holder ul li:hover{
  background: #6d8dcd;
  color: red;
}
ul.comments-holder-ul li.comment-holder .container-area .timeline-footer{
  padding: 1px 10px;
}
.w3-row-padding .w3-container{
  background: #f2f2f2;
}
.w3-row-padding .w3-container .who-says{
  height: 28px;
  color: #2e5cb8;
  font-size: 22px;
  font-weight: 500;
  margin: 0px 0px;
  border-bottom: 1px solid #fff
}
.w3-container textarea.comment-insert-text{
  position: relative;
  width: 100%;
  color: #262626;
  /* left: 0;
  right: 0; */
  margin: auto;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  background: ;
  color: #4d4d4d;
  font-size: 15px;
  padding: 2px 7px 10px 7px;
  /* resize: none; */
}
.w3-container textarea.comment-insert-text:hover,
.w3-container textarea.comment-insert-text:focus{
  background: #fff;
  color: #4d4d4d;
  /* resize: none; */
}
.w3-padding a{
  padding: 3px 5px;
  background: #00ff80;
  color: #00004d;
  font-weight: 600
}
.w3-padding button#comment-post-btn{
  background: #ff0000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: arial;
  font-size: 14px;
  margin-top: 8px;
  padding: 3px 27px;
}
.thumb-image{
  width: 50px;
  height: 50px;
}
/* COMMENTS */
.comments {
  float: left;
  width: 100%;
  padding: 1% 2.2%;
  margin: 0px;
  background: #f2f2f2;

}
.comments .comment-write{
  margin: auto;
}
.comments .comment-write .send_comment{
  margin-top: 6px;
  padding: 3px 10px;
  font-family: arial;
  background: rgba(93,84,240,8.5);
  color: #fff;
  border: 1px solid #fff;
}
.comments .comment-write .send_comment:hover{
  color: rgba(93,84,240,8.5);
  background: #fff;
  border: 1px solid rgba(93,84,240,8.5);
}
.comments .comment-item {
  float: left;
  width: 100%;
  padding: 2px 18px 1px 10px;
  margin: 1px;
  height
}
.comments .comment-cont{
  border-bottom: 1px solid #fff;
  padding: 4px 30px;
}
@media only screen and (max-width: 768px) {
  .comments .comment-cont{
    padding: 4px 0px;
  }
  .comments .comment-item {
    padding: 2px 3px 1px 2px;
  }
}
.comments .comment-cont .delete_comment{
  border: none;
  background: none;
  color: #8080ff;
  font-size: 13px !important;
}
.comments .comment-item img {
  width: 38px;
  height: 38px;
  margin: 0px 10px 20px 0px;
  border: 3px solid #FFF;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  float: left;
}
.comments .comment-item p {
  margin-bottom: 0px;
  line-height: 13px;
  margin-bottom: 5px;
  font-size: 14px;
  padding-bottom: 4px;
  text-align: justify;
  overflow: hidden;
}
.comments .comment-item p.comment-head a {
  font-size: 13px !important;
  font-family: arial !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  color: rgba(93,84,240,8.5) !important;
}
.comments .comment-item .comment-cont p.replied_comments{
  font-size: 12px;
  font-family: arial;
}
.comments .comment-item small {
  line-height: 15px;
  color: #cccccc !important;
}
.comments .comment-item:first-child {
  border-top: 1px solid #dbedff;
}
.comments .comment-write {
  float: left;
  width: 100%;
  padding: 5px;
}
.comments .comment-write .form-control {
  border-color: #d0e8ff;
}

.timeline-footer div .likes button{
  border: none;
  background: none;
  font-family: cursive;
}
/* END COMMENTS */
/*
*
*	END OF STATUS SECTION
*
*/











/*
*
*	POPUP MESSAGE SECTIONS
*
*/
.chat-sidebar{
		width: auto;
		position: relative;
		height: auto;
		right: 0px;
		top: 0px;
		padding-top: 10px;
		padding-bottom: px;
    background: rgba(93,84,240,8.5);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 4px;
		/*box-shadow: ;*/
}
.sidebar-name{
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 0px;
		font-size: 12px;
}
.sidebar-name span{
		padding-left: 1px;
    font-size: 13px;
}
.sidebar-name a{
		display: block;
		height: 100%;
		text-decoration: none;
		color: inherit;
}
.sidebar-name:hover{
		background-color: #e1e2e5;
}
.sidebar-name img{
		width: 36px;
		height: 36px;
		vertical-align:middle;
}
.popup-box{
		display: none;
		position: fixed;
		bottom: 0px;
		right: 220px;
		height: 285px;
		background-color: rgb(237, 239, 244);
		width: 300px;
		border: 1px solid rgba(29, 49, 91, .3);
}
.popup-box .popup-head{
		background-color: #6d84b4;
		padding: 5px;
		color: white;
		font-weight: bold;
		font-size: 14px;
		clear: both;
}
.popup-box .popup-head .popup-head-left{
		float: left;
}
.popup-box .popup-head .popup-head-right{
		float: right;
		opacity: 0.5;
}
.popup-box .popup-head .popup-head-right a{
		text-decoration: none;
		color: inherit;
}
.popup-box .popup-messages{
		height: 100%;
		overflow-y: scroll;
}
@media only screen and (max-width : 960px){
		.right-big-side{
			width: 100%;
			margin: auto;
			padding-left: 1%;
			padding-right: 1%
		}
		.right-small-side{
			display: none !important;
		}
}
.chat-sidebar-2{
  margin: 2px 8px 15px 8px;
}
@media only screen and (min-width : 961px){
		.chat-sidebar-2{
      display: none;
    }
}
/*
*
*	END OF POPUP MESSAGE SECTIONS
*
*/




/*
*
*	FRIEND REQUEST SECTIONS
*
*/
.friend_request_box{
	padding: 5px;
	height: auto;
  background: #00004d;
  font-family: arial;
}
.friend_request_box h4{
  color: #fff;
  font-family: arial;
}
.friend_request_box .w3-container{
  margin: auto;
  background: #fff;
  margin-bottom: 1px;
  padding: 1px
}
.friend_request_box .w3-container img{
	margin-top: 5px;
	margin-bottom: 2px;
	margin-right: 1%;
	margin-left: 1%;
	border: 1px solid #00004d;
  border-radius: 8px
}
.friend_request_box .w3-container span{
	font-size: 88.5%;
  font-family: arial;
  text-transform: capitalize;
  font-weight: 600;
}
.friend_request_box .w3-container .w3-row{
	margin-top: 3px;
	margin-bottom: 3px;
  margin: auto;
}
.friend_request_box .w3-container .request-btn .accept_request{
  padding: 2px 18px;
  margin-bottom: 3px;
  border: none;
  background: #00004d;
}
.friend_request_box .w3-container .request-btn .accept_request:hover{
  background: rgba(93,84,240,8.5);
}
.friend_request_box .w3-container .request-btn .delete_request{
  padding: 2px 18px;
  margin-bottom: 3px;
  border: 1px solid #d1d1d1;
  background: #f2f2f2;
  color: #262626;
}
.friend_request_box .w3-container .request-btn .delete_request:hover{
  background: #e1e1e1;
}
/*
*
*	END OF FRIEND REQUEST SECTIONS
*
*/





/*
*
* SENDING AND RECIEVING MESSAGES
*
*/
.chatBox{
	height: auto;
	background: #fff;
	padding: 10px 65px;
	margin: auto;
	position: relative;
	width: 100%
}
.chatLog{
	padding: 1px;
	width: 100%;
	height: 1000px;
	overflow-x: hidden;
	position: relative;
	background: #fff;
	border-radius: 3px
}
.chatLog::-webkit-scrollbar, .chatLog::-moz-scrollbar {
	width: 10px;
}
.chatLog::-webkit-scrollbar-thumb, .chatLog::-moz-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}
.chat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	width: auto
}
.chat .user-photo{
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}
 @media only screen and (max-width : 409px){
		.chat .user-photo{
			width: 40px !important;
			height: 40px !important;
		}
    .chatBox{
      padding: 10px 7px
    }
}
@media only screen and (max-width : 315px){
		.chat .user-photo{
			width: 30px !important;
			height: 30px !important;
		}
}
.chat .user-photo img{
	width: 100%
}
.chat .send{
	padding: 4px;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
  border: 1px solid #d1d1d1;
	color: #000;
	font-size: 13px;
	content: "";
}
.chat .recieve{
	padding: 4px;
	padding-left: 10px;
	border-radius: 1px;
  border: 1px solid #d1d1d1;
	color: #000;
  background: #e1e1e1;
	font-size: 13px;
	content: " ";
}
.chat .send .heading a{
	font-size: 16px
}
.send{
	background: #fff;
}
.recieve{
	background: #dced;
	order: -1;
}
/* .chat-form{
	margin-top: 20px;
	display: flex;
	align-items: flex-start;


}
.chat-form textarea{
	background: #fbfbfb;
	width: 75%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
	overflow-y: scroll;
}
.chat-form textarea:focus{
	background: #fff;
}
.chat-form textarea:-webkit-scrollbar {
	width: 10px;
}
.chat-form textarea:-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,.1)
}
.chat-form button{
	background: #1ddced;
	padding: 5px 15px;
	font-size: 30px;
	color: #fff;
	border: none;
	margin: 0px 10px;
	border-radius: 3px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-o-transition: background .2s ease;
}
.chat-form button:hover{
	background: #13c8d9;
} */
.chatLog .txt{
  border: 1px solid #e1e1e1;
  border-radius: 1px;
  padding: 10px 5px;
  margin-bottom: 17px;

}
.text_message{
  margin: auto;
  margin-bottom: 1px;
  padding: 12px;
  background: #;
  width: 100%;
  border: 1px solid #;
}
.sending_msg{
  margin-top: 8px;
  border: none;
  background: #00004d !important;
}
.msg_area{
  color: #595959
}
/*
*
* END OF SENDING AND RECIEVING MESSAGES
*
*/


/*
*
*	USERS PHOTOS SECTION
*
*/
.photos{
	padding: 3px 0 1px 16px;
}
.photos h4{
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	text-transform: capitalize;
}
.ex_box .col-xs-3{
	padding: 6px 2px;
}
.ex_box{
 margin: 1px;
}
.img_section{
	position:relative;
}
.img_section_txt {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background:rgba(5, 5, 5, 0.43);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2px 4px 1px 4px;
	color: #FFF;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.magnifier2:hover .img_section_txt {
	background: #00004d;
}
@media only screen and (max-width : 449px){
		.img_section_txt{
			display: none !important;
		}
}
/*
*
*	END OF USERS PHOTOS SECTION
*
*/



/*
*
*	MY FRIENDS
*
*/
.my_friends{

}
.profile_{
	width: 100%;
	background: #fff;
	padding: 7px 0 7px 20px;
	border-bottom: 1px solid #00004d
}
.profile-ima{
	width: 50px !important;
	height: 50px !important;
	border: 2px solid #000 !important;
	border-radius: 21% !important;
	overflow: hidden !important;
}
.profile-ima img{
	width: 100%;
}
.profile-da{
	padding-left: 3% !important;
	margin: auto;
	margin-top: 0px;
	font-size: 18px
}
.profile-da span{
  color: #c1c1c1;
	font-size: 13px
}
.send_msg{
  margin-right: 6%;
  margin-top: 2%
}
/*
*
*	END OF FRIENDS
*
*/













































.major-row{
	width:100%;
	overflow-x:hidden;
	margin:auto; }
.header{
	padding: 8px 3% 20px 3%;
	background:url(../../images/wallpapers/wallpaper7.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	text-align:left; }
.header h1{
	color:#fff;
	font-weight:700;
	font-size:130%;
}
.header li{
	text-decoration: none;
	display: inline-block;
	float: right;
	margin: 0px 0.39%;
	color: #fff
}
.header .pic{
	width: 40px;
}
.header a .fa-sign-out:hover{
	color: red
}

/*STATUS*/
.status-section{
	padding: 0px;
	background: #e1e1e1;
	margin: auto;
}
.status-section .status-text{
	width: 100%;
	height: 80px;
	margin: auto;
	border-radius: 100px;
	border: 3px solid #e1e1e1;
	color: #686868;
	resize: none;
	font-size: 22px;
	padding: 20px 30px 0px 30px;
	overflow-y: hidden;
}
.status-send{
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	margin-right: 1.6%;
	border-radius: 10px;
	background: green;
	border: none
}
.wrpper{
  width: 100%;
  border: 1px solid #000/*#e1e1e1*/;
  margin: 10px auto 10px auto;
  height: auto;
}
.page-data{
  width: auto;
  height: 50px;
  color: #666;
  margin: 10px;
  border-bottom: 1px solid #000/*#e1e1e1*/;
}



/*ADDED COMMENTS*/
.comment-form{
	display: flex;
	padding: 6px;
	border-bottom: 1px solid #eaeaea;
}
.comment-form .left-side{
	flex: 5;
	display: flex;
	flex-direction: column;
	padding-right: 5px
}
.comment-form .left-side .row{
	flex: 0 auto;
	display: flex;
	align-content: center;
}
.comment-form .left-side .row input{
	height: 32px;
	width: 50%;
}
.comment-form .left-side .row textarea{
	height:  42px;
	margin-top: 8px;
}
.comment-form .right-side{
	flex: 1;
	display: flex;
	justify-content: center;
}
.comment-form .right-side button{
	white-space: pre-wrap;
}
.comment-form textarea{
	width: 100%;
}
.button-secondary{
	background: rgb(66, 184, 221,);
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,2);
}







/*
*
*  EDIT ACCOUNT SECTION
*
*/
#edit_account{
  background: #fff;
  margin-bottom: 79px
}
#reset_password{
  background: #fff;
  margin-top: 79px
}
#delete_account{
  background: #fff;
  margin-top: 79px;
  margin-bottom: 85px
}
.edit_form{
  background: #fff
}
.edit_form h2{
  font-size: 170%;
  font-weight: bold;
  text-transform: uppercase;
  color: #262626
}
.edit_form form .form-group label{
  color: #666666;
  font-size: 14px
}
.edit_form form .form-group span{
  color: #ff6666;
  font-size: 14px
}







/*
.a{
	max-width: 64%;
	padding: 10px 0px;
	background: steelblue;
	margin-bottom: 16px;
}
.b{
	padding: 6px 0px 2px 2%;
	background: #fff;
	color: #000
}

@media only screen and (max-width: 719px) {
.a {max-width: 100%}} */

































.tableheader {
	background-color: #fedc4d;
}

.tablerow {
	background-color: #A7D6F1;
	color: white;
}

.btnSubmit {
	background-color: #fd9512;
	padding: 5px;
	border-color: #FF6600;
	border-radius: 4px;
	color: white;
}

.row {
	background-color: #fdfdfd;
	color: #101010;
}

tr.row td {
	border-bottom: 1px #eae6e6 solid;
}

.row:hover {
	background-color: #f8fafb;
}

.listheader {
	background-color: #607d8b;
	color: #FDFDFD;
}

.action-icon {
	margin-right: 10px;
}

.btn-menu {
	margin: 30px 0px 20px;
}

.btn-menu a {
	background: #23aae6;
	padding: 10px 20px;
	color: #FFF;
	border-radius: 2px;
	text-decoration: none;
}

.box-preview {
	width: 300px;
	margin: 30px auto;
	border: 10px #b2b2b2 solid;
	border-radius: 2px;
}

.box-preview img {
	width: 100%;
}

.preview-footer {
	padding: 10px 0px;
	background: #b2b2b2;
	color: #4e4e4e;
}
@viewport{
  zoom: 1.0;
  width : extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
