/*ALL TEMPLATE SETTINGS*/
body{
  background-color: #D9D9D9;
  margin: auto;
}
.container{
  margin: auto;
  overflow-x: hidden;
}
.major-row{
  width:100%;
  overflow-x:hidden;
}


/*HEADER SECTION*/
#main_header .major-row{
  background-color:limegreen;
}
.logo-name{
  text-align: ceter;
  font-size: 200%;
  font-weight: 800;
  font-family: arial;
  color: white;
}
#navbar{
  padding: 0% 10% 0% 0%;
  margin-top: 40px;
}
#navbar ul li{
  display: inline;
  margin: 0% 1.3%;
  padding: 0% 1.5%;
}
#navbar ul li a{
  text-decoration: none;
  font-size: 110%;
  font-family: arial;
  color: #fff;
}


/*BODY*/
/*LOGIN SECTION*/
#body .major-row{
  background-color:white;
}
.login{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 13%;
    margin-left: 13%;
    padding: 6% 3.7%;
    background-color: #D9D9D9;
    box-shadow: 4px 4px #E6E6E6;
    overflow-x: hidden;
}
.login-name{
    padding: 16px 4%;
    background-color: grey;
    font-size: 150%;
    font-weight: 800;
    font-family: arial;
}
.login-user,.login-password{
    border: solid 1.5px black;
    font-size: 20px;
    padding: 3px 1px;
    margin-bottom: 0px;
    margin-left: 10%;
    width: 70%;
    display: block;
}
.login-user:hover, .login-user:focus, .login-password:hover, .login-password:focus{
    background-color: darkgrey;
    color: #000;
}
.login p{
    font-size:80%;
    margin: 17px 0px 8px 10%;
}
.login button{
    padding: 1% 5%;
    margin-left: 10%;
    font-size: 16px;
    font-weight: 900;
    background-color: green;
    color: white;
    border: 2px solid black;
}
.login button:hover{
    background-color: limegreen;
  }

/*REGISTRATION FORM SECTION*/
.register{
    width: 100%;
    padding: 4px 3.8%;
    background-color: grey;
    color: black;
    overflow-x: hidden;
}
.register div h1{
  text-align: center;
  font-weight: 700;
  font-family: arial;
  color: #fff
}
.reg-form{
  padding: 3px 1.4% 15px 1.4%;
  background-color: #D9D9D9;
  font-family: arial;
}
.reg-form label{
  font-size: 115%;
}
.reg-form input{
  width: 88%;
  height: 35px;
  font-size: 110%;
  padding: 0.3% 3px;
  margin: 7px 0px;
  background-color: #000;
  color: #fff;
}
.reg-form input:hover, .reg-form input:focus{
    background-color: green;
}
reg-form buton{
    position: relative;
    padding: 4.5px 10%;
    margin-left: 6%;
    font-size: 100%;
    font-family: arial;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 4%;
    cursor: pointer;
}
reg-form btton:hover{
    background-color: steelblue;
}


/*FOOTER SECTION*/
#main_footer .major-row{
  background-color:grey;
}
.foot-layout{
    width: 100%;
    padding: 18px 8% 0px 8%;
    overflow-x: hidden;
}
.foot-layout h4{
    padding-left: 9%;
    font-size: 115%;
    font-family: arial;
    color: #fff;
}
.foot-list{
    list-style: none;
    line-height: 1.4em;
    font-size: 90%;
    font-weight: 600;
    font-family: arial;
}
.foot-list a{
    text-decoration: none;
    color: #000;
}
.foot-list p{
    font-size: 95%;
    color: white;
}
.foot-list a:hover{
    color: #fff
}
.base-logo{
  font-family: segoe script;
  font-size: 150%;
  font-weight: 900;
  padding-left: 5%;
  color: #000;
  text-shadow:5px -4px 1.8px #fff;/*right/left, top/bottom, blurness */
}
.designer{
  text-align: center;
  font-family: cursive;
}



/*


*/
