/*
*
*	STATUS SECTION
*
*/
/*POST POST POST POST Post POST*/
.timeline_box{
  margin-top: 10px;
  border: 1px solid #f2f2f2;
  height: 100%;
  background: #fff;
  box-shadow: 5px 4px 8px 5px #f2f2f2, 5px 6px 20px 5px #f2f2f2;
}
.comments-list{
  height: auto;
  font-size: 13px;
  margin: auto;
  background: #f2f2f2;
  padding: 4px;

}
ul.comments-holder-ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
}
ul.comments-holder-ul li.comment-holder{
  list-style-type: none;
  height: auto;
  width: auto;
  margin: 0px 0px 40px 0px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-left: 6px solid rgba(185,0,255,0.9);
}
ul.comments-holder-ul li.comment-holder:hover{

}
ul.comments-holder-ul li.comment-holder .date{
  padding: 1px 12px;
  color: rgba(93,84,240,8.5);
}
ul.comments-holder-ul li.comment-holder .date .fa-globe{
  font-size: 17px;
}
ul.comments-holder-ul li.comment-holder .date .everyone{
  font-size: 14px;
  color: #c1c1c1 !important;
}
ul.comments-holder-ul li.comment-holder .container-area{
  padding: 1px 12px;
}
ul.comments-holder-ul li.comment-holder .user-img{
  float: left;
	position: relative;
  height: 81px;
  width: 81px;
  margin: 2px 10px 9px 1px;
	border-radius: 50px;
	overflow: hidden;
	border: 2px solid rgba(185,0,255,0.9);;
}
ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.comment-body{
  width: auto;
  position: relative;
}
ul.comments-holder-ul li.comment-holder h3.username-field{
  padding: 10px 1px;
  font-size: 180%;
  margin: 0px 0px 10px 10px;
  color: #cccccc;
  text-transform: lowercase;
}
ul.comments-holder-ul li.comment-holder .container-area h3.username-field a{
  color: #595959;
  text-transform: capitalize;
  text-decoration: none;
}
ul.comments-holder-ul li.comment-holder .container-area h3.username-field:hover{
  color: #fff/*#104a93*/;
}
ul.comments-holder-ul li.comment-holder .container-area .comment-text{
  display: flex;
  overflow: hidden;
  font-size: 125%;
  text-align: left;
  color: #595959;
  position: relative;
  font-family: arial;
}
ul.comments-holder-ul li.comment-holder .comment-text p{
  padding: 1px 10px;
  font-family: arial;
  color: #595959;
}
ul.comments-holder-ul li.comment-holder:hover .comment-button-holder{
  display: block;
}
.comment-button-holder{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
.comment-button-holder ul{
  list-style-type: none;
  width: auto;
  height: auto;
  overflow: hidden;
}
.comment-button-holder ul li{
  float: right;
  background: inherit;
  text-align: center;
  color: rgba(185,0,255,0.9);
  font-size: 110%;
  cursor: pointer;
}
.comment-button-holder ul li:hover{
  color: #ff0000;
}
ul.comments-holder-ul li.comment-holder .container-area .timeline-footer{
  padding: 1px 10px;
}
.status_box{
  padding: 3px 24px 18px 24px;
  background: #f2f2f2;
  border: 1px solid #c1c1c1;
}
.status_box .status_box-container .who-says{
  color: rgba(185,0,255,0.9);
  font-size: 26px;
  font-weight: 500;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.status_box-container textarea.comment-insert-text{
  position: relative;
  width: 100%;
  color: #595959;
  margin: auto;
  border-radius: 40px;
  border: 1px solid #d1d1d1;
  background: ;
  color: #4d4d4d;
  font-size: 18px;
  padding: 6px 20px 10px 20px;
  /* resize: none; */
}
.status_box-container textarea.comment-insert-text:hover,
.status_box-container textarea.comment-insert-text:focus{
  background: #fff;
  color: #595959;
  border: 1px solid rgba(185,0,255,0.9);
}
.status_box-padding button#comment-post-btn{
  background: #fff;
  color: rgba(185,0,255,0.9);
  text-transform: uppercase;
  font-weight: 600;
  font-family: arial;
  font-size: 15px;
  margin-top: 17px;
  padding: 5px 27px;
  border: 1px solid #c1c1c1
}
.status_box-padding button#comment-post-btn:hover{
  background: rgba(93,84,240,8.5);
  color: #fff;
}
.thumb-image{
  width: 50px;
  height: 50px;
}
/* COMMENTS */
.comments {
  float: left;
  width: 100%;
  padding: 1% 2.2%;
  margin: 0px;
  background: #f2f2f2;

}
.comments .comment-write{
  margin: auto;
}
.comments .comment-write .send_comment{
  margin-top: 13px;
  padding: 3px 10px;
  font-family: arial;
  background: rgba(185,0,255,0.9);
  color: #fff;
  border: 1px solid rgba(185,0,255,0.9);
}
.comments .comment-write .send_comment:hover{
  color: rgba(185,0,255,0.9);
  background: #fff;
  border: 1px solid rgba(185,0,255,0.9);
}
.comments .comment-item {
  float: left;
  width: 100%;
  padding: 10px 18px 10px 10px;
  margin: 1px;
  background: #f2f2f2
}
.comments .comment-cont{
  border-bottom: 1px solid #fff;
  padding: 4px 30px;
}
@media only screen and (max-width: 768px) {
  .comments .comment-cont{
    padding: 4px 0px;
  }
  .comments .comment-item {
    padding: 2px 3px 1px 2px;
  }
}
.comments .comment-cont .delete_comment{
  border: none;
  background: none;
  color: #8080ff;
  font-size: 13px !important;
}
.comments .comment-item img {
  width: 38px;
  height: 38px;
  margin: 0px 10px 20px 0px;
  border: 3px solid #FFF;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  float: left;
}
.comments .comment-item p {
  margin-bottom: 0px;
  line-height: 13px;
  margin-bottom: 5px;
  padding-bottom: 4px;
  overflow: hidden;
}
.comments .comment-item p.comment-head a {
  font-size: 15px !important;
  font-family: arial !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  color: rgba(185,0,255,0.9) !important;
}
.comments .comment-item .comment-cont p.replied_comments{
  font-size: 15px;
  font-family: arial;
  color: #595959;
  text-align: left;
}
.comments .comment-item small {
  line-height: 16px;
  color: #cccccc !important;
}
.comments .comment-item:first-child {
  border-top: 1px solid #dbedff;
}
.comments .comment-write {
  float: left;
  width: 100%;
  padding: 5px;
  position: relative;
}
.comments .comment-write .form-control {
  border-color: #d0e8ff;
  position: relative;
}
.timeline-footer div .likes button{
  border: none;
  background: none;
  font-family: cursive;
}
.timeline-footer .likes .like{
  padding: 1px 8px;
}
.timeline-footer .likes .like .emoji{
  color: rgba(93,84,240,8.5);
  font-size: 21px
}
.timeline-footer .likes .like span{
  color: #595959;
  font-size: 19px
}
/* END COMMENTS */
/*
*
*	END OF STATUS SECTION
*
*/
