/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:110%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 120%;
  background-color: #00004d;
	background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
	overflow: hidden;
}



/*
*
* REGISTER ACCOUNT
*
*/
#sign_up{
	position: absolute;
	background: #fff;
	top: 82px;
	padding: 34px 26px 35px 26px;
	border-radius: 4px;
	margin: auto;
}
#sign_up p{
	margin-bottom: 11px
}
#sign_up input{
	/* background: #f2f2f2; */
	background: #f2f2f2;
	padding-top: 18px;
	padding-bottom: 18px;
	border: none;
	border-bottom: 1px solid #d1d1d1
}
#sign_up input:focus{
	background: #d1d1d1;
	color: #262626
}
#sign_up h5.acct_log a{
	font-size: 15px;
	font-weight: 600;
	color: #0000cc;
}
#sign_up h5.acct_log a:hover{
	color: #4d4dff;
	text-decoration: none;
}
#sign_up button.btn-success{
	padding-left: 23px;
	padding-right: 23px;
	font-size: 15px;
	font-weight: 500;
	font-family: arial;
	background: #008000;
	text-transform: capitalize;
	border-radius: 3px;
	border: 1px solid #004d00
}
#sign_up button.btn-success:hover{
	background: #009900
}
#required{
	font-size: 15px;
	color: #ff0000
}
#firstnameErr,
#lastnameErr,
#emailErr,
#usernameErr,
#passwordErr{
	font-size: 12px;
	color: #ff0000
}
#message{
	font-size: 14px;
	padding: 19px 10px;
	color: #008000;
	margin: auto;
	text-align: justify;
}
@media only screen and (max-width: 768px) {
	#sign_up{
		top: 30px;
		padding: 34px 2px 44px 2px;
	}
}






/*
*
* LOGIN
*
*/
.login-box{
	background: #fff;
	top: 82px;
	padding: 34px 26px 35px 26px;
	border-radius: 4px;
	margin: auto;
}
.logo{
	margin-bottom: 17px
}
.login-box .login-title{
	font-size: 110%;
	padding-top: 17px
}
.logo .logo-img{
  margin: auto;
}
.logo .logo-name{
  margin: auto;
}
.logo .logo-name span.a{
  font-size: 100%;
  font-weight: 600;
  color: rgb(255, 92, 51)
}
.logo .logo-name span.b{
  font-size: 115%;
  font-weight: 700;
  font-family: arial;
  font-style: italic;
  color: rgba(93,84,240,8.5);
  color: -webkit-linear-gradient(right, rgba(0,168,255,8.5), rgba(185,8,255,0.5));
  color: -o-linear-gradient(right, rgba(0,168,255,8.5), rgba(185,0,255,0.5));
  color: -moz-linear-gradient(right, rgba(0,168,255,8.5), rgba(185,0,255,0.5));
  color: linear-gradient(right, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
}
.form-horizontal{
	padding-top: 10px
}
.form-horizontal input{
	font-size: 15px;
}
.login-footer{
	margin-top: 9px;
}
.login-footer .foot-side1{
	font-size: 13px
}
.login-footer .foot-side2{
	font-size: 13px
}
@media only screen and (max-width: 768px) {
	.login-box{
		padding: 50px 1px 60px 1px;
	}
	.login-footer{
		padding: 1px 1px
	}
	.logo .logo-name{
		font-size: 110%;
	}
	.login-box .login-title{
		font-size: 90%;
	}
	.login-footer .foot-side2{


	}
}
